<h1>Satz Anpassen</h1>

<%= render 'form', :label => "Satz anpassen", :url => project_play_part_path(:project_id => @project.id, :play_id => @play.id, :id => @part.id) %>

<div style="height: 1px;"></div>

