<%= form_for(@person, :html => { :class => :default } ) do |f| %>

	<%= render "shared/error_messages", :target => @person %>

	<%= render "form_fields", :f => f, :target => @person %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
