<h1>Programm <%= @project %></h1>

<%= render "plays_table", :target => @project.plays %>

<% content_for :submenu do %>
<% if permitted_to? :manage, :plays %>
	<li><%= link_to 'Stück Hinzufügen', new_project_play_path(@project) %></li>
<% end %>

<li><%= link_to "Zurück", project_path(@project) %></li>
<% end %>
