<h1>Bestellung Anpassen</h1>

<%= render :partial => 'form', :locals => { :label => "Apassen" } %>

<% content_for :submenu do %>

	<% if permitted_to? :manage, :orders %>
		<li><%= link_to 'Details', @order %></li>
		<li><%= link_to 'Zurück', orders_path %></li>
		
	<% end %>
<% end %>
