<h1>Neues Konzert erfassen</h1>

<%= render 'form', :url => project_concerts_path(@project), :label => "Konzert Speichern" %>

<% content_for :submenu do %>
	<li><%= link_to 'Zurück', project_concerts_path(@project) %></li>
<% end %>
