<h1>Konzert Details</h1>

<p>
	<b>Was:</b><%= @concert.title %><br />
	<b>Wo:</b><%= @concert.location %><br />
	<b>Wann:</b><%= event_date_time_to_s(@concert.start_time) %>
</p>

<h2>Programm</h2>

<% content_for :submenu do %>
	<li><%= link_to 'Konzert editieren', edit_project_concert_path(:project_id => @concert.project.id, :id => @concert.id) %></li>

<% end %>

