<% if target.size > 0 %>
	<table class="default">
		<tr>
			<th width="70%">Name</th>
			<th width="30%">&nbsp;</th>
		</tr>
	
		<% target.each do |m| %>
			<tr>
				<td><%= m.instrumentalist.last_first %></td>
				<td>
					<% if permitted_to? :manage_members, :projects %>
				
						<%= link_to image_tag("icons/pencil.png", :title => "Anpassen..."), edit_membership_path(m) %>
						<%= link_to image_tag("icons/cross.png", :title => "Mitglied entfernen?"), remove_member_project_path(m.project, :person_id => m.instrumentalist.id), :method => :delete, :confirm => "Soll #{m.instrumentalist} von diesem Projekt entfernt werden?" %>
					<% else %>
					&nbsp;
					<% end %>
				</td>
			</tr>
		<% end %>
	
	</table>

<% else %>
	<p>
		Für diese Instrument sind zur Zeit keine Mitglieder eingetragen.
	</p>
<% end %>