<h1>Projekt Anpassen</h1>

<%= render 'form', { :label => "Projekt Anpassen", :url => project_path } %>

<% content_for :submenu do %>

	<li><%= link_to 'Zurück zum Projekt', @project %></li>
	<li><%= link_to 'Alle Projekte', projects_path %></li>

<% end %>
