<h1>aulos Blasorchester</h1>

<img class="right-portrait" src="images/aulos_portrait_small.jpg" alt="ochestra in concert" />

<p>
Das aulos Blasorchester trifft sich alljährlich im Oktober zu einer Intensivprobewoche im Walliserdorf Visperterminen. Während dieser Woche wird ein anspruchvolles Programm einstudiert, welches sich vorwiegend aus Originalwerken für symphonisches Blasorchester zusammensetzt und anschliessend an vier Konzerten aufgeführt wird. Im Orchester spielen begabte Amateurmusiker, Musikstudenten sowie professionelle Musiker aus der ganzen Schweiz mit.
</p>

<p>
Die musikalische Leitung obliegt jeweils einem rennomierten Gastdirigenten aus den Bereichen Blasorchester, Brass Band oder Symphonisches Orchester. So konnte das aulos Blasorchester in den letzten Jahren Dirigenten wie Franco Cesarini, Ludwig Wicki, Andreas Spörri, Jean-François Bobillier und Johan de Meij verpflichten.
</p>

<p>
Das aulos 2010 mit Henrie Adams ist bereits wieder Geschichte. Wir freuen uns bereits aufs aulos 2011 unter der Leitung von Bert Appermont. Als besonderen Höhepunkt werden wir die Symphonie Nr. 2 von Bert Appermont - eine Auftragskomposition des aulos Blasorchesters - uraufführen. Die Lagerwoche findet vom 1. Oktober bis 8. Oktober 2011 wiederum in Visperterminen statt.
</p>