<h1>aulos Blasorchester</h1>

<h2>Idee</h2>
<p> 
Das <b>aulos Blasorchester</b> trifft sich alljährlich im Oktober zu einer Intensivprobewoche 
im Walliserdorf Visperterminen. Während dieser Woche wird ein anspruchvolles Programm 
einstudiert, welches sich vorwiegend aus Originalwerken für <b>symphonisches Blasorchester</b> 
zusammensetzt und anschliessend an vier Konzerten aufgeführt wird. Im Orchester 
spielen begabte <b>Amateurmusiker</b>, <b>Musikstudenten</b> sowie <b>professionelle Musiker</b> 
aus der ganzen Schweiz mit.
</p> 
<p> 
Die musikalische Leitung obliegt jeweils einem rennomierten <b>Gastdirigenten</b> aus den Bereichen Blasorchester, 
Brass Band oder Symphonisches Orchester. So konnte das aulos Blasorchester in den letzten Jahren Dirigenten 
wie Franco Cesarini, Ludwig Wicki, Andreas Spörri, Jean-Fran&ccedil;ois Bobillier und Johan de Meij verpflichten.
</p> 
<p> 
Das aulos 2010 mit Henrie Adams ist bereits wieder Geschichte. 
Wir freuen uns bereits aufs <b>aulos 2011</b> unter der Leitung von <b>Bert Appermont</b>. Als besonderen Höhepunkt 
werden wir die Symphonie Nr. 2 von Bert Appermont - eine Auftragskomposition des aulos Blasorchesters - uraufführen. 
Die Lagerwoche findet vom <b>1. Oktober bis 8. Oktober 2011</b> wiederum in Visperterminen statt.
</p>

<h2>Geschichte</h2>

<p> 
Das <b>aulos Blasorchester</b> trifft sich allj&auml;hrlich im Oktober zu einer Intensivprobewoche 
im Walliserdorf Visperterminen. W&auml;hrend dieser Woche wird ein anspruchvolles Programm 
einstudiert, welches sich vorwiegend aus Originalwerken f&uuml;r <b>symphonisches Blasorchester</b> 
zusammensetzt und anschliessend an vier Konzerten aufgef&uuml;hrt wird. Im Orchester 
spielen begabte <b>Amateurmusiker</b>, <b>Musikstudenten</b> sowie <b>professionelle Musiker</b> 
aus der ganzen Schweiz mit.
</p> 
<p> 
Die musikalische Leitung obliegt jeweils einem rennomierten <b>Gastdirigenten</b> aus den Bereichen Blasorchester, 
Brass Band oder Symphonisches Orchester. So konnte das aulos Blasorchester in den letzten Jahren Dirigenten 
wie Franco Cesarini, Ludwig Wicki, Andreas Sp&ouml;rri, Jean-Fran&ccedil;ois Bobillier und Johan de Meij verpflichten.
</p> 
<p> 
Das aulos 2010 mit Henrie Adams ist bereits wieder Geschichte. 
Wir freuen uns bereits aufs <b>aulos 2011</b> unter der Leitung von <b>Bert Appermont</b>. Als besonderen H&ouml;hepunkt 
werden wir die Symphonie Nr. 2 von Bert Appermont - eine Auftragskomposition des aulos Blasorchesters - urauff&uuml;hren. 
Die Lagerwoche findet vom <b>1. Oktober bis 8. Oktober 2011</b> wiederum in Visperterminen statt.
</p>
