<h1>aulos Blasorchester</h1>

<img class="right-portrait" src="images/aulos02.jpg" alt="ochestra in concert" />

<p>
Angefangen hat alles im Januar 1990 in einem Blechbläserensemble. Ursula Jurt, die damals in Zürich Trompete studierte und Ulrich Troesch, Dirigent und Trompeter, entwickelten im Laufe der Probearbeiten die Idee, ein Blasorchester nach dem Vorbild der aus Amerika stammenden " Symphonic Band" zu gründen. Es sollte begabten Amateurmusikern und -musikerinnen aus der ganzen Schweiz die Gelegenheit geben., zusammen mit Musikstudenten und professionellen Musikern während einer Woche ein anspruchsvolles Konzertprogramm einzustudieren und in einer anschliessenden Konzertreihe aufzuführen.
Durch die Vermittlung von Franco Cesarini, des wohlbekannten Tessiner Dirigenten und Lehrer am Konservatorium Zürich, konnte das Probelokal der Stadtmusik Bellinzona als Probeort gewonnen werden und bereits im Februar 1990 trafen die ersten Anmeldungen ein. Da Ulrich Troesch als Musiker und Lehrer hauptsächlich in der Region Solothurn tätig war, rekrutierte sich ein grosser Teil der Teilnehmenden aus diesem Gebiet. Am 6. Oktober 1990 war es schliesslich soweit, und das AULOS Blasorchester startete mit viel Enthusiasmus und 50 jungen Musikbegeisterten, die darauf brannten, eine Woche lang zusammen zu musizieren, in die erste Runde.
</p>

<p>
Der anschliessende Erfolg und die begeisterten Rückmeldungen der Mitwirkenden und des Publikums an den Konzerten, lösten eine erste "AULOS-Euphorie" aus. Alle Beteiligten waren sich einig: Wir machen weiter! Es fanden sich weitere Leute, die sich bereit erklärten auch organisatorisch einige Aufgaben zu übernehmen, da diese Arbeiten für zwei Personen alleine doch sehr zeitraubend war. Durch diese Umstrukturierungen in der Organisation prallten jedoch schon bald verschiedene Vorstellungen bezüglich der zu spielenden Literatur und der Organisierung de Orchesters aufeinander, was nach Abschluss der zweitem Session zur Folge hatte, dass sich Ulrich Troesch aus dem Projekt zurückzog.
</p>

<img style="float: left;" src="images/aulos03.jpg" alt="ochestra in concert" />

<p>
Er und Ursula Jurt hatten jedoch mit dem AULOS Blasorchester etwas in die Welt gesetzt, das über den Wert einer Eintagsfliege allemal hinaus kommt. Die Organisation liegt nun seit 1992 komplett in den Händen von ungefähr 15 Orchestermitgliedern. Obwohl es immer wieder Wechsel gibt, gesellt sich neben die "treuen Seelen" laufend junger Nachwuchs hinzu, der nicht nur bereit ist sich musikalisch, sondern auch organisatorisch zu engagieren.
</p>

<p>
Die musikalische Leitung obliegt während der Probewoche jeweils einem renommierten Gastdirigenten aus den Bereichen Blasmusik, Brass Band oder Symphonisches Orchester. So konnte das AULOS Blasorchester in den letzten Jahren Dirigenten wie Albert Brunner, Alwin Muoth, Martin Studer, Ives Illi, Franco Cesarini, Carlo Balmelli, Ludwig Wicki, Andreas Spörri und Eric Conus verpflichten.
</p>