<% include_tinymce %>

<h1>Willkommen auf aulos.ch</h1>

<img class="right-portrait" src="images/aulos_portrait_small.jpg" alt="ochestra in concert" />

<p>
Das aulos Blasorchester trifft sich jährlich und studiert ein anspruchvolles Programm ein. Das Programm besteht vorwiegend aus Originalwerken für symphonisches Blasorchester und wird an vier Konzerten aufgeführt. Im Orchester spielen begabte Amateurmusiker, Musikstudenten und professionelle Musiker aus der ganzen Schweiz.
</p>

<p>
Die musikalische Leitung obliegt jeweils einem rennomierten Gastdirigenten. So konnte das aulos Blasorchester in den letzten Jahren Dirigenten wie Franco Cesarini, Ludwig Wicki, Andreas Spörri, Jean-François Bobillier und Johan de Meij verpflichten.
</p>

<p>
Das aulos 2010 mit Henrie Adams ist bereits Geschichte. Wir freuen uns auf das nächste Projekt unter der Leitung von Bert Appermont. Als besonderen Höhepunkt werden wir die Symphonie Nr. 2 von Bert Appermont uraufführen.
</p>

<h2>News</h2>

<p>

	<%= render "/news/news_table", :news_entries => @news_entries %>

</p>

<p>
	Weitere Neuigkeiten sind <%= link_to "hier", news_index_path %> zu finden.
</p>

<% content_for :submenu do %>
	<% if permitted_to? :create, :news %>
	<li><%= link_to_function "News erstellen", "Aulos.Popup.init('#{new_news_path}', {width: 650})" %></li>
	<% end %>
<% end %>
